.jumbotron{
    background-image: url(../img/background-winter.png);
}
#profile{
    background-color: transparent;
    border-color: transparent;
}
.navbar-inverse{
    background-color: #fff;
    background-image: none;
    border: none;
}
.navbar-inverse .navbar-nav>li>a{
    color: #60a9c2;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #316578;
}
nav .coins{
    top: 50px;
    background-color: #60a9c2;
}