.box-offer h2{
    color: #60a9c2;
}
.box-offer button{
    background-image: none;
    background-color: #77cef4;
    border-color: #60a9c2;
}
.box-offer button:hover {
    border-color: #77cef4;
    background-color: #60a9c2;
}