.box-offer{
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    min-height: 250px;
}
.box-offer h2{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}
.box-offer img{
    margin: 10px auto;
    display: block;
    height: 100px;
}
.box-offer p{
    text-align: center;
    margin-top: 20px;
}
.box-offer button{
    width: 100%;
}